<h1>Welcome to app backoffice test</h1>

<p>Lets go!!!</p>

<p>
<%= link_to "Users Backoffice", users_backoffice_welcome_index_path  %>
</p>

<p>
<%= link_to "Admins Backoffice", admins_backoffice_welcome_index_path %>
</p>
